/* 전체 페이지 스타일 */
body {
    font-family: Arial, sans-serif;
    background-color: #0a0a0a;
    color : #ffffff;
    margin: 0;
    padding: 0;
}

/* 컨텐츠 전체 감싸는 컨테이너 */
#content-container {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

/* 환자 코드 제목 */
#patient-code {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* 테이블 컨테이너 */
.clinic-list-container {
    width: 100%;
    margin: 20px 0;
    border-radius: 10px;
}

/* 테이블 전체 구분선 명확하게 설정 */
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    border: 2px solid #ddd ; /* 테이블 전체 테두리 */
}

/* 헤더 및 셀 테두리 설정 */
th, td {
    border: 1px solid #ddd  !important; /* 셀 테두리 명확하게 */
    height: 40px;
    text-align: center;
    vertical-align: middle !important;
    padding: 10px !important;
}

/* 테이블 헤더 배경색 */
th {
    background-color: #222;
    font-weight: bold !important;
    font-size: 16px !important;
}

/* 진료 내용 셀 */
td:nth-child(4) { /* 진료내용이 있는 4번째 열에 적용 */
    max-width: 80px; /* 최대 너비 설정 (적절한 값으로 조정 가능) */
    white-space: nowrap; /* 줄바꿈 방지 */
    overflow: hidden; /* 넘치는 부분 감춤 */
    text-overflow: ellipsis; /* '...'으로 처리 */
}

/* 진료 등록 버튼 */
#add-button {
    background-color: #444444;
    color: white;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#add-button:hover {
    background-color: #666;
}

/* 페이지네이션 컨테이너 */
#pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 5px;
}

/* 페이지네이션 버튼 */
.pagination-btn {
    padding: 8px 12px;
    border: 1px solid #bbb;  /* 경계선 추가 */
    border-radius: 5px;
    cursor: pointer;
    background-color: #f0f0f0;
}

.pagination-btn:hover {
    background-color: #BDBDBD !important;
}

/* 현재 페이지 버튼 */
.pagination-btn.active {
    background-color: #E0E0E0 !important; /* 파란색 배경 */
    color: black !important; /* 흰색 글씨 */
    font-weight: bold;
}

.pagination-btn.active:hover,
.detail-button:hover
{
    background-color: #23486A;
}

.detail-button {
    background-color: #E0E0E0 !important;
    color: black !important;
    border: none !important;
    padding: 6px 12px !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    font-size: 14px !important;
}
