.main {
    width: 100%;
    min-height: 73vh;
    margin: auto;
    padding-top: 50px;
    text-align: center;
}

.main .p1,
.main .p2 {
    text-align: center;
    font-size: 16px;
    padding-bottom: 10px;
    /*border: 1px solid red;*/
}

.main .p2 {
    font-size: 18px;
    font-weight: bold;
}

.main img {
    width: 85%;
    margin: 30px 0 20px 0;
}
